<div class="white-popup zoom-anim-dialog">
	<h2>關於 LmClientX</h2>
	<ul id="about-tabs" class="nav nav-tabs">
		<li class="active"><a href="#about-intro">簡介</a></li>
		<li><a href="#about-author">作者</a></li>
		<li><a href="#about-library">使用資源</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="about-intro">
			<p class="bg-info">GitHub 專案網頁：<a href="https://github.com/dodo0822/lmclient" target="_blank">https://github.com/dodo0822/lmclient</a></p>
			<p class="bg-warning">本網頁還在早期開發階段，若在使用上有任何問題，請至開發樓回報，或至專案網頁填寫新 Issue。</p>
			<p>LmClientX 為最新一代的 Learn Mode 網頁前端介面，採用了 HTML5+CSS3+JavaScript 寫成，且針對效能最佳化，即使是在手機或平板也可以順暢瀏覽！</p>
		</div>
		<div class="tab-pane fade" id="about-author">
			<h2>方致偉（dodo0822）</h2>
			<h2>潘廣霖 （andy0130tw）</h2>
		</div>
		<div class="tab-pane fade" id="about-library">
		
		</div>
	</div>
</div>